@media screen and (max-width: 1400px) {
  .main-footer {
    .footer {
      font-size: 16px;
      padding: 32px 16px;
    }
    .footer-copyright {
      font-size: 12px;
      padding-bottom: 16px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-content__last-news__block {
    margin-top: 32px;
    .last-news__block-header {
      justify-content: space-around;
    }
    .last-news__block-content {
      margin-top: 16px;
      justify-content: center;
      .news-item {
        flex: 0 0 80%;
        height: 250px;
        background-position: 50%;
        background-size: cover;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    .about__page__body {
      &-title {
        font-size: 24px;
      }
      &-content {
        .about__block {
          .text-block {
            flex: 0 0 100%;
          }
        }
      }
    }
    .info__page {
      .info-img {
        width: 100%;
      }
      &__body {
        .accordeon-item__content {
          flex-wrap: wrap;
        }
      }
    }
  }

  body {
    font-size: 14px;
  }
  .main-footer {
    .footer {
      font-size: 12px;
      padding: 16px 16px;
    }
    .footer-copyright {
      font-size: 10px;
      padding-bottom: 8px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .top-line__info {
      font-size: 14px;
    }
    .navigation {
      height: 50px;
      .navigation-list {
        display: none;
      }
      .mobile__nav-menu {
        display: block;
      }
    }
  }
  // .main-footer .footer {
  //   flex-wrap: wrap;
  //   &-working-hours {
  //     max-width: calc(65% - 32px);
  //   }
  //   &-org-info {
  //     max-width: 100%;
  //     display: flex;
  //     flex-wrap: wrap;
  //     justify-content: flex-end;
  //     margin-top: 16px;
  //     align-items: center;
  //     &__logo {
  //       margin-right: 16px;
  //     }
  //     &__name {
  //       flex: 0 0 75%;
  //     }
  //     &__contacts {
  //       flex: 0 0 75%;
  //     }
  //   }
  // }
}

@media screen and (max-width: 425px) {
  .header {
    .top-line {
      flex-direction: column;
      .logo {
        width: 100%;
      }
      &__info {
        display: none;
      }
    }
    .navigation {
      height: 50px;
      position: relative;
      .navigation-list {
        display: none;
      }
      .mobile__nav-menu {
        display: flex;
      }
      .mobil-nav {
        display: block;
        .navigation-list {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .main-content__last-news__block {
    .last-news__block-header {
      justify-content: space-between;
      &__title {
        font-size: 16px;
      }
    }
    .last-news__block-content {
      margin-top: 16px;
      justify-content: center;
      .news-item {
        width: 100%;
        flex: 0 0 100%;
        height: auto;
        background-position: 50%;
        background-size: cover;
        &__content-body {
          font-size: 14px;
        }
        &__date {
          font-size: 12px;
        }
      }
    }
  }
  .main-content__map {
    margin: 32px 0;
  }
  .main-content {
    .about__page__body {
      &-title {
        font-size: 18px;
      }
      &-content {
        .about__block {
          align-items: center;
          .text-block {
            flex: 0 0 100%;
          }
          .img-block {
            display: flex;
            justify-content: center;
            flex: 0 0 100%;
          }
        }
      }
    }
    .info__page__body {
      padding: 16px;
    }
  }
  .main-footer {
    .footer {
      display: flex;
      flex-wrap: wrap;
      &-menu {
      }
      &-working-hours {
        max-width: 60%;
      }
      &-org-info {
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
        font-size: 10px;
        &__logo {
          margin-right: 10px;
        }
        &__name,
        &__contacts {
          width: 76%;
          margin: 4px 0;
        }
      }
      &-copyright {
        font-size: 8px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .main-content__last-news__block {
    .last-news__block-header__allnews {
      a {
        font-size: 14px;
      }
    }
  }
  .main-content__map {
    .address {
      padding: 8px 16px;
    }
  }
  .main-footer {
    .footer {
      display: flex;
      flex-wrap: wrap;
      &-menu {
        width: 100%;
      }
      &-working-hours {
        max-width: 100%;
        margin: 16px 0;
      }
      &-org-info {
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
        font-size: 10px;
        &__logo {
          margin-right: 10px;
        }
        &__name,
        &__contacts {
          width: 70%;
          margin: 4px 0;
        }
      }
      &-copyright {
        font-size: 8px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .header .navigation {
    .mobil-nav {
      top: 34%;
      .navigation-list {
        &__item {
          padding: 8px;
          a {
            color: $white-text;
            font-size: 16px;
          }
        }
      }
    }
  }
  .main-content__map {
    .address {
      padding: 8px 16px;
    }
  }
  .main-footer {
    .footer {
      display: flex;
      flex-wrap: wrap;
      &-menu {
        width: 100%;
      }
      &-working-hours {
        max-width: 100%;
        margin: 16px 0;
      }
      &-org-info {
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
        font-size: 10px;
        &__logo {
          margin-right: 10px;
        }
        &__name,
        &__contacts {
          width: 70%;
          margin: 4px 0;
        }
      }
      &-copyright {
        font-size: 8px;
      }
    }
  }
}
